@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

*{
    font-family: Manrope;

}
.cell{
    background: #222222;
    font-size: 60px;
    color: azure;
    cursor: pointer;
    width: 7vw;
    height: 7vw;
    overflow: hidden;
    transition: 0.3s;
    }

.table{
    background: #6f6f6f;
    table-layout: fixed;
    margin: auto;
    }


body{
    text-align: center;
    background-color: #141414;
    margin: auto;
}

h1{
    font-size: 80px;
    color: azure;
    margin-bottom: 0;
    margin-top: 7vh;
}

#start, #recado{
    color: azure;
    font-size: 20px;
}

#recado{
    color: azure;
}

input{
    font-size: 15px;
    font-weight: bold;
    width: 10vw;
    height: 5vh;
    margin: 0 auto;
    background-color: #6f6f6f;
    border: none;
    transition: 0.3s;

}

input:hover{
    background-color: azure;
}

.cell:hover{
    background-color: #9f9f9f;
    transition: ease-in;
}